@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dana's Tech Review Site</h1>
    <p class="lead">Collecting reviews for the most current products from users for the users!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            We are an award winning site that features reviews on the latest technology 
            products.  Everything from Phones to TV's to Watches.  The best part you ask?
            These reviews are from you!  We don't hire people to place paid reviews, we
            ask the users to give the input so you know it's factual!
        </p>
        @Html.ActionLink("See Reviews", "Index", "Reviews")
    </div>
    <div class="col-md-4">
        <h2>Write a Review!</h2>
        <p>Start your own review of any new technology.  Smart phones, TV's, watches, drones and anything else that catches your attention.</p>
        @Html.ActionLink("Write your review", "Create", "Reviews")
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>Have a piece of technology that hasn't been reviewed yet?  No problem!  Create your own category to start a review!</p>
        @Html.ActionLink("Create Category", "Create", "Categories")
    </div>
</div>